{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Include CSS files here -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- Include header -->
    {% include 'home/header.html' %}

    <!-- Include navbar -->
    {% include 'home/navbar.html' %}

    <h1>Welcome to the Doctor-Patient Management System</h1>
    <p>This is the home page.</p>

</body>
</html>
